.catalog{

    &__card{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 40px;
        
        &-title{
            font-size: 20px;
            margin-bottom: 40px;
        }

        &-button{
            display: flex;
            align-self: start;
            column-gap: 8px;
            align-items: center;

            img{
                padding: 0 !important;
            }
        }

        &-price{
            font-weight: 700;
            font-size: 22px;
            color: #ffb800;
            margin-bottom: 16px;

            span{
                font-weight: 400;
                font-size: 16px;
                text-decoration: line-through;
                color: #c2c5da;
            }
        }

        &-item{
            display: flex;
            flex-direction: column;
            max-width: 316px;
            
            
            img{
                padding-right: 30px;
            }

        }
    }
}